{% extends "layout.html" %}

{% block header %}
<title>Shows Database</title>
{% endblock %}

{% block body %}
<div class="center">
<br>
<h1>About me!</h1>
<br>
<h3>This is the Shows Database! You can search for data about your favourite shows. The data was taken from shows.db</h3>
<div class="light">
<p>This website was created by Nguyen Ngo Anh Tuan as the final project for the Computer Science For Everyone course from MindX.</p>
<p>For more info, use the contacts below. Contacts: </p>
<p>Phone number: 097 207 ****</p>
<p>Email: nnatuan******@gmail.com</p>
</div>
</p>
</div>
<div class="center">
    <form action="/">
        <input class= "back-button" type="submit" value="Start searching!" />
    </form>
</div>
{% endblock %}