{% extends "layout.html" %}

{% block header %}
<title>Search results</title>
{% endblock %}

{% block body %}
<h1>Results for "{{film}}":</h1>
<ol type = "1">
    <hr>
    {% for result in results %}
        <br>
        <li>{{result[1]}} ({{result[2]}}) | Episodes: {{result[3]}} |  {{result[4]}} | Genres: {{result[5]}} | <a href="/show/{{result[0]}}">See More...</a></li>
        <br>
        <hr>
    {% endfor %}
</ol>
<br>
<button class="back-button" onclick="history.back()"> < Go back</button>
{% endblock %}